<html lang="en">
<%- include("./partials/head.ejs") %>

<body>
  <%- include("./partials/nav.ejs") %>
  <%- include("./partials/aside.ejs") %>

  <div class="about content">
    <h2>About</h2>
      <p>
        These are collections of code snippets to help developers remember syntax and snippets easily.
      </p>
  </div>

  <%- include("./partials/footer.ejs") %>
</body>
</html>